@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

*::selection {
    background-color: #9e0004;
    color: #000;
}

.top-menu nav {
    padding: 10px;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.left-links,
.right-links {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
}

.left-links a,
.right-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.5px;
    border-bottom: 2px solid transparent;
}

.left-links a:hover,
.right-links a:hover {
    border-bottom: 2px solid currentColor;
}

.link-logo {
    width: 80px;
    height: 80px;
}

.logo {
    width: 100%;
    height: 100%;
}

.container-hero::before {
    content: "";
    background-image: url('../img/hero-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 80%;
    position: absolute;
    filter: grayscale(55%);
    z-index: -1;
}

.container-hero {
    height: 80vh;
    display: flex;
}

.over-image {
    margin: auto;
    width: 680px;
    min-height: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 15px 1px #b9030f;
    border-radius: 10px;
}

.over-image .hero-title {
    font-size: 3.2em;
    font-weight: 700;
    text-shadow: 0 0 15px #000;
    color: #b9030f;
    text-transform: uppercase;
    word-spacing: 1px;
}

.over-image .hero-text {
    color: #e1e3db;
    line-height: 1.5em;
}

.over-image .join-mov {
    background-color: #9e0004;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 2px solid #9e0004;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #9e0004aa;
}

.over-image .join-mov:hover {
    background-color: #000;
    color: #9e0004;
    font-weight: 700;
    border-right: none;
    border-left: none;
    box-shadow: 0 0 8px 5px #9e0004dd;
}



.container-testimonials {
    background-color: #161917;
    color: #fff;
    height: 700px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-main-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 150px;
}

.box-main-testimonial .testimonial {
    font-size: 2.5em;
    text-align: center;
    font-weight: 700;
}

.box-main-testimonial .testimonial q {
    background-color: #9e0004;
    color: #000;
    padding: 12px 0;
}

.box-main-testimonial .author {
    font-size: 1.4em;
    font-weight: 500;
    background-color: #9e0004;
    color: #000;
    padding: 0 25px;
}

.box-sec-testimonials {
    display: flex;
    gap: 20px;
    text-align: center;
}

.sec-testimonials {
    flex: 1;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.sec-testimonials .testimonial {
    font-size: 1.12em;
    text-align: center;
    font-weight: 600;
}

.testimonial {
    line-height: 1.5em;
}

.author {
    opacity: 0.7;
}



.container-about {
    height: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    background-color: #161917cc;
    position: relative; /* This is here to stop the image in the next block from overflowing. */
}

.container-about::before {
    content: "";
    background-image: url('../img/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.container-about>* {
    width: 700px;
}

.about-title {
    font-size: 3.375em;
    font-weight: 600;
}

.abt-title-left {
    background-color: #9e0004;
    color: #000;
}

.abt-title-slash::before {
    content: "/";
    color: #000;
    margin-left: -10px;
}

.abt-title-slash::after {
    content: "/";
    color: #9e0004;
    margin-right: -10px;
}

.abt-title-right {
    background-color: #000;
    color: #9e0004;
}

.ct-paragraphs p {
    margin-bottom: 28px;
    font-size: 1.12em;
}




.newsletter {
    height: 250px;
    padding: 40px;
    display: flex;
    background-color: #9e0004;
}

.newsletter form {
    margin: auto;
    padding: 20px;
    flex: 1;
    display: flex;
    gap: 50px;
}

.newsletter .user-email {
    flex: 3;
    padding: 20px 0;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    font-size: 1.12em;
    outline: none;
    caret-color: #fff;
    color: #fff;
}

.newsletter .user-email::placeholder {
    color: #fff;
    letter-spacing: 1px;
}

.newsletter .subscribe-btn {
    flex: 1;
    font-size: 1.12em;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 6px 3px #16191750;
}

.newsletter .subscribe-btn:hover {
    background-color: #161917;
    border-color: #161917;
}



footer {
    min-height: 500px;
    background-color: #161917;
    color: #ffffffdd;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.container-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
}

.container-links .block-links {
    flex: 1;
    padding: 15px;
    min-width: 230px;
}

.block-links h3 {
    font-size: 28px;
    margin-bottom: 25px;
    text-shadow: 1px 1px #e1e3db65;
}

.block-links a {
    color: #e1e3dbd8;
    text-decoration: none;
    font-size: 17px;
}

.block-links a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.container-links li {
    list-style: none;
    margin-bottom: 11px;
}

.container-contact {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.break-line {
    border: 3px solid #fff;
    min-width: 50%;
    margin: 0 auto;
}

.contact {
    display: flex;
}

.contact a {
    color: #fff;
}

.contact-links:nth-child(2) {
    margin: 0 auto;
}